* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

$red-color: rgb(204, 34, 41);
$red-light-color: rgb(107, 10, 13);
$yellow-color:rgb(243, 245, 14);